*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 52.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.text-box {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%; }
  @media only screen and (max-width: 37.5em) {
    .text-box {
      width: 90%;
      text-align: center; } }
  .text-box .heading {
    font-family: "B612", sans-serif;
    font-size: 12rem;
    text-transform: capitalize;
    line-height: 1;
    color: #4a4a50;
    text-shadow: 0px 0px 10px #1a1a1d; }
    @media only screen and (max-width: 37.5em) {
      .text-box .heading {
        font-size: 7rem;
        padding-left: 2rem; } }
    .text-box .heading__main {
      display: block;
      font-size: 12rem; }
      @media only screen and (max-width: 37.5em) {
        .text-box .heading__main {
          font-size: 7.5rem; } }
      .text-box .heading__main i {
        color: #c3073f;
        font-size: 13rem;
        font-weight: 900;
        font-style: normal; }
        @media only screen and (max-width: 37.5em) {
          .text-box .heading__main i {
            font-size: 9rem; } }
  .text-box .finetext {
    color: #c3073f;
    font-size: 1.1rem;
    font-family: "B612", sans-serif;
    text-transform: capitalize;
    margin: 25px 5px; }
    @media only screen and (max-width: 37.5em) {
      .text-box .finetext {
        margin-left: 40px; } }

.sub-header {
  text-align: center;
  width: fit-content;
  margin: 10rem auto;
  display: block; }

.section-heading {
  font-size: 7rem;
  font-weight: 300;
  font-family: "B612", sans-serif;
  text-align: center;
  text-transform: capitalize;
  background-image: linear-gradient(#c3073f, #950740);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  line-height: 1.5;
  width: fit-content; }
  @media only screen and (max-width: 37.5em) {
    .section-heading {
      font-size: 4rem; } }

.spacer {
  content: " ";
  display: block;
  width: 10rem;
  border-bottom: 5px solid #950740;
  margin-left: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .spacer {
      margin-left: 4rem; } }

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #1a1a1d, #252529, #313136, #3d3d43, #4a4a50);
  z-index: 1;
  background: transparent; }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #1a1a1d, #252529, #313136, #3d3d43, #4a4a50); }
  .header .social {
    position: absolute;
    z-index: 3;
    top: 480px; }
    @media only screen and (max-width: 37.5em) {
      .header .social {
        position: absolute;
        top: 490px;
        left: -10px; } }
    .header .social__list {
      list-style-type: none;
      margin-left: 65px;
      margin-top: 10px; }
    .header .social__item {
      display: inline-block;
      border: 2px solid #c3073f;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      margin: 10px 20px 10px 10px;
      transition: all .6s; }
    .header .social__link {
      color: #c3073f;
      font-size: 23px;
      transition: all .6s; }
    .header .social__link:hover {
      color: #6f2232;
      transform: scale(2, 2); }
    .header .social__item:hover {
      background: #c3073f; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #6f2232;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(26, 26, 29, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: radial-gradient(circle, #c3073f, #b80540, #ac0441, #a10541, #950740);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:link span, .navigation__link:visited span {
        margin-right: 1rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #66e6ff;
  transform: translateX(1rem); }

.navigation__icon {
  position: relative;
  margin-top: 2.8rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 4px;
    border-radius: 5px;
    background-color: #1a1a1d;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: -1rem; }
  .navigation__icon::before {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: .8rem; }

.navigation__button:hover .navigation__icon::after {
  top: -.8rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 52.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 52.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 52.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media only screen and (max-width: 52.25em) {
    .row {
      max-width: 50rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2*6rem)/3)  +  6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3*6rem)/4) +  6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*6rem)/4) +  2 * (6rem)); }

.about {
  height: 100vh; }
