

.bg_img{
    width: 100%;
    height:80vh;
}
#about,
#portfolio{
    max-width:$section-width;
    margin: 0px auto;
}
#about{
    position: relative;
    margin-top: 15rem;    
    margin-bottom: 5rem;
    //height: 100vh;
}
#portfolio{

}
#contact{
    text-align: center;
    background:  rgb(11,11,12);
}
.about-img{
    width: $img-w;
    height: $img-h;
    border: 15px solid $bg-color;
    position: relative;
    top: 0;
    left:30px;
    z-index: 1000;
    
    &__border{
        position: absolute;
        top:30px;
        left: 0;
        z-index: 10;
        display: block;
        width:$img-w;
        height: $img-h;
        background-color: $bg-color;
        border: 15px solid $primary-color;
    }
}

.portfolio{
    &__heading{
        width: 100%;
        margin-bottom: 4rem;
        margin-top: 4rem;
        text-align: center;
        h2{
            font-size: 6rem;
            width: fit-content;
            margin: 0 auto;
        }
    }
    &__menu{
        line-height: 5.2rem;
        &__item{
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
            a{
                color: rgb(11,12,30);
            }
        }   
    }
    &__container{
        width: 100%;
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-between;
        &__item{
            width:48%;
            margin-bottom: 3rem;
            height: 25rem;
            background: linear-gradient($tetiary, $tetiary2 ),  ;
            padding-left: 4rem;
            padding-right: 4rem;
            // background-image:  url('../img/lyceum_full.jpg') ;
            // background-blend-mode: overlay;
            // background-size: cover;

            h3{
                font-size: 2rem;
                color: $color-white;
                margin-top: 13rem;
            }
            p{
                font-size: 11px;
                color: $color-white;
                margin-bottom: 1rem;
            }
        }
    }
}
.contact{
    padding-bottom: 5rem;
    h2{
        text-align: center;
        color: $color-white;
        margin: 0 auto;
        margin-top: 60px;

    }
}
.form{
    //padding-right: 8rem;
    position: relative;
    form{
        margin: 0 auto;
    }
    &::after{
        position: absolute;
        top: 0;
        left:-50px;
        content: " ";
        width: 1px;
        height: 300px;
        background:rgb(80, 80, 82);

    }
}

footer{
    background: rgb(21, 21, 22);
    height: 15rem;
}
