.header{
    height: 100vh;
    width: 100%;
    background-image: url(../img/fabian-grohs-dMUt0X3f59Q-unsplash.jpg), 
                      linear-gradient(to right top, #1a1a1d, #252529, #313136, #3d3d43, #4a4a50);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    
    .social{
            position: absolute;
            z-index: 3;
            top:0;
            &__list{
                list-style-type: none;
                margin-left: 65px;
                margin-top: 10px;
            }
            &__item{
                display: inline-block;
                border: 2px solid $tetiary;  
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                padding: 5px;
                margin: 10px 20px 10px 10px;
                transition: all .6s;
                
            }
            &__link{
                color:$tetiary;  
                font-size:23px;
                transition: all .6s;
            }
            &__link:hover{
                color: $tetiary3;
                transform: scale(2,2);
            }
            &__item:hover{
                background: $tetiary;
            }

    }
}