
.form-input{
    display:inline-block;
    width: 90%;
    height: 4rem;
    margin: 10px 10px;
    outline: none;
    border: none;
    background: rgb(19, 20, 18);
    padding-left: 3rem;
    transition: border .4s;
    &:active{}
    &:focus{
        border-bottom: 2px solid $primary-color ;
        transition: border .4s;
        color:rgb(145, 145, 149) ;
    }
}
.textarea{
    height: 10rem;
}


.contacts{
    color: rgb(145, 145, 149);
    h3{
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-top: 3rem;
        i{
            color: $primary-color;
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    p{
        color: rgb(80, 80, 82);
        font-size: 1.2rem;
    }
}