.social{
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        font-size: 1.5rem;
        border: 1px solid $primary-color;
        padding: 3px 15px;
        border-radius: 3px;
        &:not(:last-child){
            margin-right: 2rem;
        }
        transition: all .4s;
        &:hover{
            cursor: pointer;
            background: $primary-color;
        }
    }
}