body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 80%;
    .heading{
        font-family: $font1;
        font-size: 150px;
        text-transform: capitalize;
        line-height: 1;
        color: $secondary;
        text-shadow: 0px 0px 10px $primary;
        &__main{
            display:block;
            font-size: 150px;
            i{
                color: $tetiary;
                font-size: 150px;
                font-weight: 900;
                font-style: normal;
            }
        }
        &__sub{

        }
    }
    
    .finetext{
            color:$tetiary;
            font-size: 15px;
            font-family: $font1;
            text-transform: capitalize;
            margin: 25px 5px;
           
    }
}
