//@import url('https://fonts.googleapis.com/css?family=B612|Open+Sans|Roboto|Titan+One&display=swap');

$pink    : #ff006a;
$purple  : #7b00e0;
$orange  : #ff7900;
$aqua    : #66e6ff;
$yellow  : #ffc901;
$color-white : #ffffff;
$color-black : #000000;

$primary    :  #1a1a1d;
$secondary  :  #4a4a50;
$tetiary    :  #c3073f;
$tetiary2   :  #950740;
$tetiary3   :  #6f2232;

$font1      : 'B612', sans-serif;
$font2      : 'Titan One', sans-serif;
$font3      : 'Roboto', sans-serif;
$font4      : 'Open Sans', sans-serif;

//Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;